.body {
  background-image: url("../../media/Diseño\ sin\ título.png");
  width: 100%;
  height: 100%;
  margin: 10px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.conteiner-form-login {
  padding: 5px;
  margin: 3%;
  width: 500px;
  border-radius: 18px;
  box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.37);
  background-color: rgb(255, 255, 255);
}

.titulo {
  text-align: center;
}

.contenedor-linea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.linea {
  margin-top: 1px;
  height: 4px;
  border: 2px solid #ef7e0e;
  width: 350px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
}

.form-row .col-md-6 {
  padding-right: 5px;
  padding-left: 5px;
}

.col-md-6 {
  margin-right: 5px;
  margin-left: -5px;
}

.Form-Control {
  margin-left: 5px;
  margin-right: 15px;
  margin-bottom: 3px;
  width: auto;
}

.contenedor-boton-createuser{
  margin: 5px;
  padding:3%;
}