.container {
    padding: 20px;
    width: 500px;
    border-radius: 18px;
    box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.37);
    background-color: rgb(255, 255, 255);
}

.contenedor-linea-sm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
  
.linea-sm {
    margin-top: 1px;
    height: 4px;
    border: 2px solid rgb(59, 51, 51);
    background-color:rgb(59, 51, 51);
    width: 100%;
}

.prueba {
    width: 100%;
    text-align: left;
    border-radius: 0.1vh;
    
}

.MainDiv {
    width: 100%;
}
