/* Menu.css */
.navbar {
  background-color: #ffffff;
  box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative; /* Asegura que el z-index funcione correctamente */
  z-index: 1; /* Valor más alto que la barra lateral */
}
  
  .logo {
    width: 200px;
    height: 50px;
  }
  
  .titulo {
    text-decoration: none;
    color: darkslategray;
    font-size: 2.7vh;
    margin: 3px;
  }
  
  .bar{
    color: #bfbfbf;
    border-radius: 50%;
    padding: 10px;
  }
  
  .bar:hover{
    background-color: #ececec;
  }

.boton{
  margin-left: auto;
  margin-right: 20px;
}

.circle-icon {
  background-color: #fff;
  border-radius: 30%; 
  padding: 10px; 
  padding-right: 30px;
  padding-left: 20px;
}




  