/* Menu.css */
.navbar {

  top: 0; /* La barra se fija en la parte superior */
  left: 0;
  right: 0; /* Ocupa todo el ancho de la pantalla */
  background-color: #ffffff; /* Fondo de la barra */
  box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.25); /* Sombra */
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 1; /* Valor más alto que otros elementos */
  height: 65px;
  margin-bottom: 0px !important;
}




  .logo {
    width: 200px;
    height: 50px;
    max-width: 100%;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea el logotipo a la izquierda */
    flex-grow: 1; /* Permite que el logotipo ocupe todo el espacio disponible */
  }
  
  
  .titulo {
    text-decoration: none;
    color: darkslategray;
    font-size: 2.7vh;
    margin: 3px;
  }
  
  .bar{
    color: #bfbfbf;
    border-radius: 50%;
    padding: 10px;
  }
  
  .bar:hover{
    background-color: #ececec;
  }

.boton{
  margin-left: auto;
  margin-right: 20px;
}

.circle-icon-bar {
  background-color: #fff;
  border-radius: 30%; 
  padding: 10px; 
  padding-right: 15px;
  padding-left: 5px;
  cursor: pointer;
}

.circle-icon-user{
  cursor: pointer;
}





#user-icon {
  position: relative;
  right: 0; /* Posición inicial en pantalla grande */
  transition: right 0.3s ease; /* Animación de transición suave */
}

/* Estilo del icono de usuario en pantallas más pequeñas (ejemplo: hasta 768px) */
@media (max-width: 768px) {
  #user-icon {
    right: 0px; /* Mueve el icono hacia la izquierda en pantallas más pequeñas */
  }
}

/* Estilo del icono de usuario en pantallas aún más pequeñas (ajusta según sea necesario) */
@media (max-width: 576px) {
  #user-icon {
    right: 0px; /* Mueve aún más el icono hacia la izquierda en pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  body {
    min-width: 375px; /* Establece el ancho mínimo deseado (ajusta según tus necesidades) */
  }
}
 
  