.container-note {
    margin: 10%;
    margin-bottom: 20%;
    width: 80%;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.37);
    background-color: rgb(255, 255, 255);
}

.container-titulo-note {
    text-align: center;
}

.contenedor-linea-note {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.linea-note {
    margin-top: 1px;
    height: 4px;
    border: 2px solid #ef7e0e;
    background-color: #ef7e0e;
    width: 85%;
}

.input-select {
    width: 200px;
}

.container-botones-padron {
    margin-left: 220px;
    display: flex;
}

.btn-pdf {
    margin-left: 110px;
}

.btn-excel {
    margin-left: 20%;
}

th {
    font-size: 1.5vh;
}
