.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente fuera de la pantalla */
    background-color: #333;
    transition: 0.3s;
  }
  
  .sidebar.open {
    left: 0; /* Muestra la barra lateral */
  }
  
  /* Estilos para los elementos de la barra lateral */
