.conteiner-form-eliminar {
  padding: 30px;
  margin: 100px;
  width: 500px;
  border-radius: 18px;
  box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.37);
  background-color: white;
}

.titulo-eliminar {
  text-align: center;
}

.contenedor-linea-eliminar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.linea-eliminar {
  height: 4px;
  border: 2px solid #ef7e0e;
  width: 350px;
}

.conteiner-eliminar {
  margin-left: 18px;
}

.boton-eliminar{
  width: 100px;
}


.contenedor-boton-eliminar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}