.conteiner-form {
    padding: 30px;
    margin: 100px;
    width: 500px;
    border-radius: 18px;
    box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.37);
    background-color: rgb(255, 255, 255);
}

.titulo {
    text-align: center;
}

.contenedor-linea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.linea {
    margin-top: 1px;
    height: 4px;
    border: 2px solid #EF7E0E;
    width: 350px;
}

.boton-qr {
    width: 60px;
}


.contenedor-boton-qr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}