.body-ac {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modal-container{
  background-color: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-form-wrapper {
  display: flex;
  justify-content: center;
}

.conteiner-form {
  padding: 20px;
  width: 500px;
  border-radius: 18px;
  box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.37);
  background-color: rgb(255, 255, 255);
}

.titulo {
  text-align: center;
}

.contenedor-linea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.linea {
  margin-top: 1px;
  height: 4px;
  border: 2px solid #ef7e0e;
  background-color: #ef7e0e;
  width: 350px;
}

.contenedor-boton-createuser {
  margin: 5px;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}