/*UserDashboard CSS Creation*/



.contenedor-form-wrapper-home {
  display: flex;
  justify-content: center;
}
.header-home {
  margin-bottom: 50px;
  
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.conteiner-form-home {
  padding: 20px;
  margin: 3%;
  width: 500px;
  border-radius: 18px;
  box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.37);
  background-color: rgb(255, 255, 255);
}

.titulo-home {
  text-align: center;
  font-size: 3rem;
  
}

@media (max-width: 768px) {
  .titulo-home {
    font-size: 1.8rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}

@media (max-width: 600px) {
  .titulo-home {
    font-size: 1.5rem; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
  }
}

@media (max-width: 450px) {
  .titulo-home {
    font-size: 1.2rem; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
  }
}

.subtitulo {
  margin-left: 150px;
  padding: 5px;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .subtitulo {
    margin-left: 100px;
    font-size: 1.2rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .subtitulo {
    margin-left: 50px;
    font-size: 1rem; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
  }
}

.contenedor-linea-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.linea-home {
  margin-top: 1px;
  height: 4px;
  border: 2px solid #ef7e0e;
  background-color: #ef7e0e;
  width: 1200px;
  width: 100%; /* Establece el ancho en un 100% para que se ajuste al contenedor */
  max-width: 1200px; /* Agrega un ancho máximo si lo deseas */
  margin-left: auto; /* Centra horizontalmente el elemento */
  margin-right: auto;
}

@media (max-width: 1200px) {
  .linea-home {
    max-width: 90%; /* Reducir el ancho máximo para pantallas más pequeñas */
  }
}


.form-row-home {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
}

.form-row .col-md-6 {
  padding-right: 5px;
  padding-left: 5px;
}

.col-md-3 {
  margin: 10px;
  display: flex;
}

.Form-Control {
  margin-left: 5px;
  margin-right: 15px;
  margin-bottom: 3px;
  width: auto;
}

.container-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
  max-width: 100%; /* Establece un ancho máximo del 100% para que se ajuste al contenedor padre */
}

.container-slider .slider {
  width: 100%;  /* Establece un margen derecho para separar los botones de las flechas */
}

.container-slider .arrow {
  font-size: 20px;
  padding: 3px;
}


/* Ajustes para el contenedor de las flechas */
.container-slider {
  position: relative;
  max-width: 100%; /* Ajusta el ancho máximo del contenedor a la pantalla */
}



.DataGrid-Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.DataGrid {
  width: 90%; /* Usa porcentajes para el ancho en lugar de píxeles fijos */
  max-width: 800px;
  height: 50vh; /* Usa viewport height para el alto en lugar de píxeles fijos */
  margin: 10px;
}

.datatitle {
  padding: 5px;
  margin: 10px 0;
  width: 100%;
}

@media (max-width: 500px) {
  .datatitle {
    margin-left: 20px;
  }

  .DataGrid-Wrapper {
    margin-top: 10%; /* Ajusta el margen superior para pantallas más pequeñas si es necesario */
  }

  .DataGrid {
    height: 200px; /* Ajusta el alto para pantallas más pequeñas */
    width: 200px;
  }
}