.conteiner-form-edit {
    padding: 30px;
    margin: 100px;
    width: 500px;
    border-radius: 18px;
    box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.37);
    background-color: white;
}

.titulo-edit {
    text-align: center;
}

.contenedor-linea-edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.linea-edit {
    height: 4px;
    border: 2px solid #ef7e0e;
    width: 350px;
}

.boton-qr-edit {
    margin-top: 27px;
    margin-left: 10px;
}

.conteiner-edit {
    margin-left: 18px;
}

.button-edit {
    padding: 18px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border-radius: 18px;
    box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.37);
}
