.conteiner-form-createuser{
    padding: 30px;
    margin: 100px;
    width: 500px;
    border-radius: 18px;
    box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.37);
    background-color: rgb(255, 255, 255);
}

.titulo-createuser{
    text-align: center;
}

.contenedor-linea-createuser{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.linea-createuser{
    margin-top: 1px;  
    height: 4px;
    border: 2px solid #EF7E0E;
    width: 350px;
    background-color: #EF7E0E;
}

.contenedor-boton-createuser{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}