.body-cb {
  width: 100%;
  height: 200%;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contenedor-form-wrapper-cb {
  display: flex;
  justify-content: center;
}
.header-monto{
  margin-bottom: 50px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}


.add-payout-button {
  margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
  padding: 15px;
}

.titulo-cb {
  text-align: center;
}

.contenedor-linea-cb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
 
.custom-data-grid-payout{
  max-width: 600px; /* Ajusta el ancho máximo según tus preferencias */
  
}

.DataGrid-Wrapper-payout {
  overflow: auto; /* Agrega desplazamiento horizontal si el contenido es más ancho que el contenedor */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  margin: 0 auto;
}

.linea-cb {
  margin-top: 1px;
  height: 4px;
  border: 2px solid #ef7e0e;
  width: 1200px;
}





.DataGrid {
  margin: 10px;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.DataGrid-Wrapper {
  border-radius: 15px;
  overflow: hidden;
}

.div-general{
  display: flex;
  justify-content: center;
}

.col-dropdown{
  width: 250px;
  margin-left: 30px;
}

.add-payout-button{
  margin-left: 20px;
  margin-top: 13px;
}

