.body-cb {
  width: 100%;
  height: 200%;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contenedor-form-wrapper-cb {
  display: flex;
  justify-content: center;
}
.header-monto{
  margin-bottom: 50px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.conteiner-form-cb {
  padding: 20px;
  margin: 3%;
  width: 500px;
  border-radius: 18px;
  box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.37);
  background-color: rgb(255, 255, 255);
}

.titulo-cb {
  text-align: center;
}

.contenedor-linea-cb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.linea-cb {
  margin-top: 1px;
  height: 4px;
  border: 2px solid #ef7e0e;
  background-color: #ef7e0e;
  width: 1200px;
}

.form-row-cb {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
}

.form-row .col-md-6 {
  padding-right: 5px;
  padding-left: 5px;
}

.col-md-6 {
  margin-right: 5px;
  margin-left: -5px;
}

.Form-Control {
  margin-left: 5px;
  margin-right: 15px;
  margin-bottom: 3px;
  width: auto;
}

.contenedor-boton-createuser {
  margin: 5px;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.DataGrid {
  margin: 10px;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.DataGrid-Wrapper {
  border-radius: 15px;
  overflow: hidden;
}

.col-md-2 {
  margin-left: 20px;
  display:block;
  justify-content: flex-start;
  align-items: flex-start;
}

.add-payout-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
  padding: 15px;
}

