.body-cm {
  width: 100%;
  height: 200%;
  padding-top: 20px;
}
.contenedor-form-wrapper-cm {
  display: flex;
  justify-content: center;
}
.header {
  margin-bottom: 50px;
  padding: 5px;
}

.conteiner-form-cm {
  padding: 20px;
  margin: 3%;
  width: 500px;
  border-radius: 18px;
  box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.37);
  background-color: rgb(255, 255, 255);
}

.titulo-cm {
    text-align: center;
    font-size: 3rem;
}


.contenedor-linea-cm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.linea-cm {
  margin-top: 1px;
  height: 4px;
  border: 2px solid #ef7e0e;
  background-color: #ef7e0e;
  width: 1200px;
  width: 100%; /* Establece el ancho en un 100% para que se ajuste al contenedor */
  max-width: 1200px; /* Agrega un ancho máximo si lo deseas */
  margin-left: auto; /* Centra horizontalmente el elemento */
  margin-right: auto;
}



.form-row-cm {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
}

.form-row .col-md-6 {
  padding-right: 5px;
  padding-left: 5px;
}

.col-md-3 {
  margin: 10px;
  display: flex;
}

.Form-Control {
  margin-left: 5px;
  margin-right: 15px;
  margin-bottom: 3px;
  width: auto;
}

.contenedor-boton-cm {
  margin: 5px;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.DataGrid {
  margin: 10px;
  width: auto;
  height: auto;
  border-radius: 10px;
}
.dropdown-container {
  width: 250px;

}

.div-cm{
  margin-left: auto;
  margin-right: auto;
  width: 780px;
}

.DataGrid-Wrapper-cm {
  border-radius: 15px;
  overflow: hidden;
}

.contenedor-boton-new {

  margin-right: 20px;
  margin-top: 35px;
  padding: 8px;
}

.select-dropdown-down {
  position: relative;
}

.select-dropdown-down select {
  position: relative;
}


@media (max-width: 1200px) {
  .linea-cm {
    max-width: 90%; /* Reducir el ancho máximo para pantallas más pequeñas */
  }
}


@media (max-width: 768px) {
  .titulo-cm {
    font-size: 1.8rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}

@media (max-width: 600px) {
  .titulo-cm {
    font-size: 1.5rem; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
  }
}

@media (max-width:850px){

  .div-cm{
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
  }

  
}

@media (max-width:536px){

  .contenedor-boton-new {
    margin-left: 0;
    margin-top: 35px;
    padding: 8px;
  }
  
}